h1,h2{
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-size: 40px;
   
    color: blueviolet;
}
h2{
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
   
   
}
h3{

    text-align: center;
    line-height: 1.2;
}
p{
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    letter-spacing:  0px;
    font-size: 32px;
}
a{
    font-weight: 400;
    text-decoration: none   ;
    text-align: center;
    /*text align will not affect it as a is an inline elements (it do not take the full
     width of the page-only the required width*/
}
ul{
    list-style: none;

}
#green-text{
    color: greenyellow;
}
.abc{
    color: chocolate;
}
.xyz{
    font-weight: 900;
    color: darkmagenta;
}
a:hover{
    color: yellow;
}
a:visited{
    color:hotpink;
}
li:first-child{
    color: darkred;
}
li:last-child{
    color: green;
}
li:nth-child(2n){
    color: lightpink;
}
